<body class="homepage">
  <div id="headerone">
    <div class="splash-login">
      <br><br>
      <%= link_to "Enter Site", issues_path, class: "btn-large waves-effect waves-light teal lighten-1"%>
      <p>or</p>
      <%= link_to "Login With Google", user_omniauth_authorize_path(:google_oauth2), class: "btn-large waves-effect waves-light teal lighten-1"%>
    </div>
  </div>
</body>