<div class="container">
  <h1>Welcome To RESIST</h1>
  <h5>The crowdfunding platform for supporting the political causes that matter to you.</h5>
  <div>
    <% @issues.each do |issue| %>
      <%= link_to issue.title, user_issues_path(issue) %><br><br>
    <% end %>
  </div>
</div>