<nav>
  <div class="nav-wrapper blue lighten-1">
    <img id="logo" alt="Icon" src="/assets/resist_together.jpg" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3> Welcome <%= @user.username %>! </h3>
  <br>
  <p>Your Resistance History:</p>
  <% @user.issues.each do |issue| %>
  <%= link_to issue.title, issue_path(issue) %><br><br>
  <% end %><br>
</div>